<h1>Welcome to Coding Challenge!</h1>


<h2>CSS Challenges (challenges/css-challenges):</h2>
<app-css-challenges></app-css-challenges>
<hr />

<h2>Create a directive to highlight text yellow: (challenges/highlight-directive)</h2>
<p>text to be highlighted</p>
<hr />
<h2>Create a custom pipe to mask all but the last 4 characters in a string (Ex - *********1234): (challenges/custom-pipe)</h2>
<p>Please create a unit test for your pipe's method(s)</p>
<p>String to be formatted: {{ valueToMask }}</p>
<hr />
<h2>Create a reusable error message component and style the text to be red: (challenges/error-message-component)</h2>
<app-reusable-error-message></app-reusable-error-message>
<hr />
<h2>Implement a text input that does two-way data binding using ngModel: (challenges/two-way-data-binding)</h2>
<app-data-binding-challenge></app-data-binding-challenge>
<hr />
<h2>Create a reactive form that has text inputs for Name, Age, and Email: (challenges/reactive-forms-val)</h2>
<app-reactive-forms-challenge></app-reactive-forms-challenge>
<hr />
<h2>Angular Challenge: Get users from service, display data in a list, and format appropriately</h2>
<p>Bonus Points - Develop a caching strategy for the API call from the service</p>
<p>More Bonus Points - Implement error handling for the service call and indicate an error has occurred</p>
<app-data-display></app-data-display>
<hr />
