<h2>Welcome to Coding Challenge!</h2>
<hr />
<h3> CSS Challenge: Resolve Text Leaving Box</h3>
<section class="css-challenge">
  CSS
  IS
  AWESOME
</section>
<hr />
<h3>CSS Challenge: center html element</h3>
<section class="center-element">
  <section class="parent">
    <section class="child"></section>
  </section>
</section>
<hr />
<h3>Angular Challenge: Get users from service, display data in a list, and format appropriately</h3>
<br />
<br />
Desired Formatting:
<br />

<div><label>Name:</label> <span> firstName lastName </span></div>
<div><label>Date of Birth:</label> <span> dob </span></div>
<div><label>Monthly Fee:</label> <span> monthlyFee </span> </div>
<hr />
